.footer {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__copyright {
  padding: 60px 0;
  margin: 0;
  height: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
}
